*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.product{
    width: 23%;
    border: 1px solid #ccc;
    margin: 15px 10px;
}

@media screen and (max-width:480px) {
    .product{
        width: 100%;
        margin: unset;
        margin-bottom: 15px;
    }
}